main {
    background-image: url(../asset/Image/brand/fond.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    opacity: 100%;
    height: auto;
}
.blank {
    position: relative;
    width: 100%;
    height: 100px;
}

.image_octopush {
    height: 120px;
    opacity: 10%;
    overflow: hidden;
    transform: rotate(90deg) scale(2);

}

.section_background_longboard {
    position: absolute;
    top:30%;
    width: 100%;
    left: -17.5%;
}

.section_background_surfboard {
    position: absolute;
    top: 60%;
    width: 100%;
    left: 86.5%;
}

#history {
    position: relative;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 80px;
}

#team {
    position: relative;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

#spot {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(../asset/Image/about_us/Plomeur-la-torche.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

#equipment {
    position: relative;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 90px;
}

.about_us_text {
    width: 100%;
}

.about_us_titre {
    color: #ff3333;
}

.spot_article_align {
    position: relative;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);

}

.about_us_text p {
    color: #000033;
}

.about_us_text img {
    width: 400px;
    height: auto;
    padding-left: 20px;
}

.about_us_teachers {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.teacher_logo{
    height: 200px;
    width: auto;
}

.name_teacher {
    font-family: jaapokki;
    font-size: 2em;
    color: #3366cc;
    padding-top: 10px;
}

span {
    font-weight: bolder;
    font-size: 1.2em;
}