main {
    background-image: url(../asset/Image/brand/fond.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    opacity: 100%;
}

.main_image_octopush_red {
    position: absolute;
    left: 600px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image_octopush {
    width: 1500px;
    height: 1500px;
    opacity: 20%;
    overflow: hidden;
}

#section_tee_shirt {
    width: 100%;
    height: auto;
    padding-top: 120px;
}
#section_hoodie {
    width: 100%;
    height: auto;
    padding-top: 80px;
}
#section_accessory {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 65px;
}

.photo_row a :hover {
    opacity: 80%;;
}

.photo_titre {
    position: relative;
    width: 70%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.surfboard_titre_left {
    width: auto;
    height: 50px;
    padding-right: 10px;
}

.surfboard_titre_right {
    width: auto;
    height: 50px;
    padding-left: 10px;
}

.text_centered {
    font-size: 2em;
    color: #000033;
    padding-top: 10px;
}

.photo_row {
    top: -25px;
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}

.image_size {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.square_color {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.text_square_color {
    position: relative;
    color: #3366CC;
    font-size: 5em;
    font-family: AmaticSC-Bold;
    font-weight: 900;
}