main {
    background-image: url(../asset/Image/brand/fond.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    opacity: 100%;
    height: auto;
    color: #000033;
}

#section_adults_group {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.background_second_part{
    position: relative;
    width: 100%;
    background-image: url(../asset/Image/Category/DSC05821-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.article_adults_group_img {
    width: 300px;
    height: auto;
}

.article_adults_group_titre {
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;

}

.article_text {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px; 
    padding-bottom: 20px;
}

#section_kids_group {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

}

#section_private {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;

}

#section_longboard {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.titre_board {

    position: relative;
    width: 70%;
    height: auto;
} 

.article_longboard {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.image_logo_longboard {
    position: relative;
    left: 135px;
    height: auto;
    width: 16%;
    padding: 20px;
    transform: rotate(15deg);
}

.table {
    color: #3366CC;
    width 70%
    height: auto;
    border-collapse: collapse;   
}

th, td {
    padding: 13px;
}
th {
    color: #000033;
}

tbody td {
    text-align: center;
}

#section_surfboard {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}

.titre_surfboard {
    padding-left: 80px;
    position: relative;
    width: 70%;
    height: 100px;
    text-align: right;
}

.image_logo_surfboard {
    top: 120px;
    position: relative;
    left: -120px;
    height: auto;
    width: 16%;
    padding: 20px;
    transform: rotate(-15deg);
}

span {
    font-weight: 900;
}

#section_bodyboard {
    position: relative;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
}

.image_logo_bodyboard {
    position: relative;
    height: auto;
    width: 30%;
    padding: 20px;
}

.trait_titre {
    border-bottom : 3px solid #000033;
}

.article_longboard h3{
    color: #FF3333;
}

.article_text h3 {
    color: #FF3333;
}

.photo_titre {
    position: relative;
    width: 70%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #3366CC;
}

.surfboard_titre_left {
    width: auto;
    height: 50px;
    padding-right: 20px;
}

.surfboard_titre_right {
    width: auto;
    height: 50px;
    padding-left: 20px;
}

.title_white {
    color: white;
}