@charset "utf-8";

@font-face {
font-family: "sinkin sans";
src: url("../asset/Font/SinkinSans-400Regular.otf") format("truetype");
font-weight: 400;
font-style: normal;
color: #3366CC;
}

@font-face {
    font-family: "jaapokki";
    src: url("../asset/Font/Jaapokki-Regular.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "AmaticSC";
    src: url(../asset/Font/AmaticSC-Regular.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url(../asset/Font/AmaticSC-Bold.ttf);
    font-family: "AmaticSC-Bold";
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    color: inherit;
    cursor: pointer;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    position: relative;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-family: sinkin sans;
    font-size: 1em;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 70px;
    font-family: AmaticSC-Bold;
}

h2 {
    font-size: 55px;
    font-family: AmaticSC-Bold;
    color: #ff3333;
}

.centered {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.centered_x {
    left: 50%;
    transform: translateX(-50%) ;
}

.grayscale{
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}

.grayscale :hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}

.text_align{
    text-align: center;
}