main {
    background-image: url(../asset/Image/brand/fond.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    opacity: 100%;
    color: #3366CC;
}

.contact_us {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start; 
    padding-top: 80px;
    padding-bottom: 80px;
}

.google_maps {
    width: 100%;
    height: 300px;
}

.google_maps iframe {
    width: 100%;
    height: 100%;
}

.section_form_title {
    position: relative;
    width: 70%;
    padding-bottom: 50px;
}

.section_form {
    position: relative;
    height: auto;
    width: 70%;
}

.section_form h1 {
    border-bottom: solid;
    border-color: #000033;
    color: #000033;
}

.section_form_tab {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: flex-start;
}

.first_row_form {
    position: relative;
    width: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.row_form {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

label {
    margin-top:10px;
    margin-bottom: 10px;
    display:block;
    }

label.inline {
    display:inline;
    margin-right:50px;
    }

input, textarea, select {
    padding:10px;
    border:1px solid #000033;
    border-radius:5px;
    width:100%;;
    }

select {
    margin-top:10px;
    }

.button_send_box {
    width: 100%;
    height: 150px;
}

.button_send {
    position: absolute;
    padding-top: 20px;
    width: 10%;
    right: 1%;
    padding right: 10px;
}

.trait_titre {
    border-bottom : 3px solid #3366CC;
}