/*********************************** Footer ************************************/
footer {
    width: 100%;
    height: auto;
    background-image: url(../asset/Image/home/footer-texture.jpg);
    opacity: 100%;
  }
  
  .footer_menu {
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer_menu_summary {
    margin-top: 3%;
    width: 20%;
    height: 300px;
    color: white;
    margin-bottom: 3%;
    z-index: 1;
  }
  
  .footer_menu_summary ul li a:hover {
    color: #ff3333;
  }
  
  .footer_surfing_experience {
    position: absolute;
    bottom: 10px;
    right: 2%;
    color: white;
  }
  
  .footer_menu_summary .li_titre {
    padding: 15px 0;
    font-size: 1.1em;
    font-family: AmaticSC-Bold;
    font-size: 2em;
  }
  
  .footer_menu li {
    padding: 5px 0;
    } 

    .footer_image_logo {
      position: absolute;
      width: 100%;
      height: auto;
      overflow: hidden;
      opacity: 6%;
      bottom: 35px;
      z-index: 0;
  }

  .image_logo {
    width: 100%;
    height: auto;
}