main {
    background-image: url(../asset/Image/brand/fond.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    opacity: 100%;
}

.main_image_octopush_red {
    position: absolute;
    left: -600px;
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 80%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}



.image_octopush {
    width: 1500px;
    height: 1500px;
    opacity: 20%;
    overflow: hidden;
}


#section_photo {
    width: 100%;
    height: auto;
    padding-top: 120px;
}

.photo_row a :hover {
    opacity: 80%;;
}

.photo_titre {
    position: relative;
    width: 70%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.surfboard_titre_left {
    width: auto;
    height: 50px;
    padding-right: 20px;
}

.surfboard_titre_right {
    width: auto;
    height: 50px;
    padding-left: 20px;
}

.text_centered {

    color: #3366CC;
    padding-top: 10px;
}

.photo_row {
    top: -25px;
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
}

.image_size {
    width: 300px;
    height: 300px;
}

#section_video {
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px; 

}
.video_row {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video_size {
    width: 500px;
    height: 280px;
    padding: 10px;
}