.banner {
    width: 100%;
    height: 400px;
}


/*****************************Category***************************/

.image_banner_category {
    position: relative;
    background-image: url(../asset/Image/Category/DSC_8178.JPG);
    background-repeat: no-repeat;
    background-position: center top 60%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner_titre_category {

    padding-top: 270px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-family: jaapokki;
    opacity: 40%;
    overflow: hidden;
}

/*****************************About us***************************/
.image_banner_about_us {
    position: relative;
    background-image: url(../asset/Image/about_us/penhors-2.jpg);
    background-repeat: no-repeat;
    background-position: center top 90%;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 85%;

    
}

.banner_titre_about_us {

    padding-top: 270px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: white;
    font-family: jaapokki;
    opacity: 25%;
    overflow: hidden;
}

/*****************************Brand***************************/
.image_banner_brand {
    position: relative;
    background-image: url(../asset/Image/brand/DSC_1018.jpg);
    background-repeat: no-repeat;
    background-position: center top 40%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner_titre_brand {

    padding-top: 270px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-family: jaapokki;
    opacity: 30%;
    overflow: hidden;
}

/*****************************Gallery***************************/
.image_banner_gallery {
    position: relative;
    background-image: url(../asset/Image/gallery/home_diapo_1.jpg);
    background-repeat: no-repeat;
    background-position: center top 30%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner_titre_gallery {

    padding-top: 270px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-family: jaapokki;
    opacity: 40%;
    overflow: hidden;
}

/*****************************Contact***************************/
.image_banner_contact {
    position: relative;
    background-image: url(../asset/Image/contact/DSC_0978.jpg);
    background-repeat: no-repeat;
    background-position: center top 30%;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.banner_titre_contact {

    padding-top: 270px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: rgb(255, 255, 255);
    font-family: jaapokki;
    opacity: 40%;
    overflow: hidden;
}