.header {
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: #FFFFFF;
    height: 100px;
    z-index: 1;
}

/******************************** Top-header ********************************/
.header_top  {
    background-color: #000033;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;

}

.header_top_info {
    width: auto;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    margin-right: 25px;
    font-size: 0.8em;

}

.header_top_info .header_top_img{
    margin-right: 10px;
}
.header_top_img.mail{
    height: 80%;
}

.header_top_img.phone{
    height: 60%;
}


/******************************** Bottom-header ********************************/
.header_bottom{
    height: 70px;
    width: 80%;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: jaapokki;
    font-size: 20px;
    
}

.header_bottom .header_menu_logo{
    width: 25%;
}

.header_bottom .header_menu_logo img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.header_bottom .menu{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: #3366CC;
}

.header_bottom .menu a:hover {
    color: #ff3333;
}

a.active {
    color: #ff3333;
}