.main {
  width: 100%;
}
/*********************************** Banner ************************************/
.banner {
  width: 100%;
  height: 100vh;
}
.diapo {
  height: 100%;
  background-image: url(../asset/Image/home/home_diapo_1.JPG);
  background-size: 100% auto;
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

.diapo .container_absolute {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.item_left,
.item_right {
  height: 100%;
}
.item_left img,
.item_right img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.item_left img {
  transform: rotate(-90deg);
  height: 45px;
}
.item_right img {
  transform: rotate(90deg);
  height: 45px;
}
.item_center {
  position: relative;
  width: 80%;
}

.image_banner {
  width: 100%;
  position: absolute;
  top: 20%;
}
.banner_img_logo {
  width: 25%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.category {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-family: 'Sinkin Sans 400 Regular';
}

.banner_nav {
  width: 90%;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
.banner_nav_boards {
  display: flex;
  justify-content: space-between;
}

.banner_img_boards {
  height: 85px;
  width: auto;
}
.section_presentation {
  width: 100%;
  height: 140px;
  background-image: url(./../asset/Image/home/fond_section_2.jpg);
}
.section_presentation .article_section_presentation {
  color: #ffffff;
  text-align: center;
  position: relative;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.banner_surfing_experience {
  position: absolute;
  top: 4%;
  right: 2%;
  color: white;
}

/*********************************** Section Lessons ************************************/

.section_lessons {
  width: 100%;
  height: 450px;
  position: relative;
}
.article_section_lessons_titre {
  color: #3366cc;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 5%;
}
.nav_section_presentation {
  position: absolute;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  flex-direction: row;
  top: 35%;
  color: #ff3333;
}
.img_section_3 {
  width: 250px;
  height: 250px;
}

.morph_div {
  width: 250px;
  height: 250px;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.morph_div:hover {
  width: 150px; /* on affiche l'image au carré */
  height: 150px;
  border-radius: 50%; /* on arrondit l'image */
}

.nav_logo_size {
  height: 80%;
  width: auto;
  margin-top: 50%;
}

.item_presentation {
  position: relative;
  width: 250px;
}

/*********************************** Section Why us ************************************/

.section_why_us {
  width: 100%;
  height: 440px;
  background-image: url('../asset/Image/home/penhors-9.jpg');
  background-position: center top 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 90%;
}

.section_why_us_top {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 50px;
}

.section_why_us_menu {
  width: 70%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 220px;
  color: white;
  margin: auto;
}

.section_why_us_menu_choice {
  width: 25%;
}

.why_us_icon {
  position: relative;
  width: auto;
  height: 90px;
}

.section_why_us_bottom {
  position: relative;
  width: 70%;
  height: auto;
  top: 1%;
  color: white;
}

svg.why_us_icon {
  width: 90px;
  height: 90px;
}

svg.why_us_icon path{
  transition: all 0.3s ease;
  fill: white;
}

svg.why_us_icon:hover path{
  fill: #ff3333;
}
/*********************************** Section video ************************************/

.video {
  width: 100%;
  height: 400px;
}

.video_bloc_left {
  width: 50%;
  height: 400px;
  float: left;
}
.video_bloc_left_text {
  width: 60%;
  position: relative;
}

.video_bloc_right {
  width: 50%;
  height: 400px;
  float: right;
}

.video_bloc_right iframe {
  position: relative;
  width: 60%;
}

.video_bloc_left_text p {
  color:#000033;
}
/*********************************** Section localisation ************************************/
.localisation {
  width: 100%;
  height: 300px;
}
.localisation iframe {
  width: 100%;
  height: 100%;
}


