
.main {
    position: relative;
    height: 100vh;
    background-color: #000033;
    z-index: 0;
}

.item_container_logo {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.item_container_video {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.index_logo{
    position: relative;
    width: auto;
    height: 234px;
    left: 50%;
    transform: translateX(-50%);

}

.index_video{
    position: relative;
    width: auto;
    height: 230px;
    left: 50%;
    transform: translateX(-50%);
}


.fake_link {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.fake_link img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    opacity: 20%;
    width: 234px;
    height: 234px;
}

